<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portfolio</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin"/>
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap" media="print" onload="this.media='all'"/>
    <noscript>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap"/>
    </noscript>
    <link href="css/font-awesome/css/all.min.css" rel="stylesheet"> 
    <!-- Since we use static /public, don't need public/ in url -->
    <link href="css/mdb.min.css" rel="stylesheet">
    <link href="css/aos.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link rel="icon" href="favicon.ico">
    <noscript>
      <style type="text/css">
        [data-aos] {
            opacity: 1 !important;
            transform: translate(0) scale(1) !important;
        }
      </style>
    </noscript>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script >
      function validateForm(){
        const captcha_response = grecaptcha.getResponse();
        if(captcha_response.length === 0){
          document.querySelector('.submit-noti').innerHTML = "Please identify";
          return false;
        }
        return true;
      }
    </script>
  </head>
  <body class="bg-light" id="top">
    <header class="d-print-none">
      <div class="container text-center text-lg-left">
        <div class="pt-4 clearfix">
          <div class="site-nav"> 
            <nav role="navigation" class="fixed-top navbar navbar-light bg-light" >
              <div class="container-fluid">
                <a class="navbar-brand" href="#about">
                  <img src="images/brand.jpg" class="d-inline-block align-text-top" alt="" height="35" width="60">
                </a>
                <ul class="nav justify-content-center" id="menu-list">
                  <li class="nav-item"><a class="nav-link" href="#about" title="About"><span class="menu-title">About</span></a>
                  </li>
                  <li class="nav-item"><a class="nav-link" href="#skills" title="Skills"><span class="menu-title">Skills</span></a>
                  </li>
                  <li class="nav-item"><a class="nav-link" href="#education" title="Education"><span class="menu-title">Education</span></a>
                  </li>
                  <li class="nav-item"><a class="nav-link" href="#project" title="Project"><span class="menu-title">Project</span></a>
                  </li>
                  <li class="nav-item"><a class="nav-link" href="#contact" title="Contact"><span class="menu-title">Contact</span></a>
                  </li>
                </ul>
              </div>
              
            </nav>
          </div>
        </div>
      </div>
    </header>
    <div class="page-content">
      <div class="container">
<div class="resume-container">
  <div class="shadow-1-strong bg-white my-5" id="intro">
    <div class="bg-info text-white">
      <div class="cover bg-image"><img src="images/header-background.jpg"/>
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);backdrop-filter: blur(2px);">
          <div class="text-center p-5">
            <div class="avatar p-1"><img class="img-thumbnail shadow-2-strong" src="images/avatar.jpg" width="160" height="160"/></div>
            <div class="header-bio mt-3">
              <div data-aos="zoom-in" data-aos-delay="0">
                <h2 class="h1">I'm Van Dang Huy</h2>
                <p>
                  <span>I'm </span>
                  <span class="job-push">
                    <b class="is-visible" ></b>
                  </span>
                </p>
              </div>
              <div class="header-social mb-3 d-print-none" data-aos="zoom-in" data-aos-delay="200">
                <nav role="navigation">
                  <ul class="nav justify-content-center">
                    <li class="nav-item"><a class="nav-link" target="_blank" href="https://www.facebook.com/profile.php?id=100008555206980" title="Facebook"><i class="fab fa-facebook"></i><span class="menu-title sr-only">Facebook</span></a>
                    </li>
                    <li class="nav-item"><a class="nav-link" target="_blank" href="https://www.instagram.com/vandanghuy9/" title="Instagram"><i class="fab fa-instagram"></i><span class="menu-title sr-only">Instagram</span></a>
                    </li>
                    <li class="nav-item"><a class="nav-link" target="_blank" href="https://github.com/vandanghuy9" title="Github"><i class="fab fa-github"></i><span class="menu-title sr-only">Github</span></a>
                    </li>
                    <li class="nav-item"><a class="nav-link" target="_blank" href="https://www.youtube.com/watch?v=UMBzBXct0DE" title="youtube"><i class="fab fa-youtube"></i><span class="menu-title sr-only">Youtube</span></a>
                    </li>
                  </ul>
                </nav>
              </div>
              <div class="d-print-none"><a class="btn btn-outline-light btn-lg shadow-sm mt-1 me-3" href="./Van_Dang_Huy_Resume.pdf" data-aos="fade-right" data-aos-delay="700">Download CV</a><a class="btn btn-info btn-lg shadow-sm mt-1" href="#contact" data-aos="fade-left" data-aos-delay="700">Contact Me</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shadow-1-strong bg-white my-5 p-5" id="about">
    <div class="about-section">
      <div class="row">
        <div class="col-md-6">
          <h2 class="h2 fw-light mb-4">About Me</h2>
          <p>Hello! I’m Van Dang Huy. I'm an university student who are passionate about web developing, especially <strong>back-end developing</strong>. I am a quick learner and a team worker that gets the job done.</p>
        </div>
        <div class="col-md-5 offset-lg-1">
          <div class="row mt-2">
            <h2 class="h2 fw-light mb-4">Bio</h2>
            <div class="col-sm-5">
              <div class="pb-2 fw-bolder"><i class="far fa-calendar-alt pe-2 text-muted" style="width:24px;opacity:0.85;"></i> Age</div>
            </div>
            <div class="col-sm-7">
              <div class="pb-2">20</div>
            </div>
            <div class="col-sm-5">
              <div class="pb-2 fw-bolder"><i class="far fa-envelope pe-2 text-muted" style="width:24px;opacity:0.85;"></i> Email</div>
            </div>
            <div class="col-sm-7">
              <div class="pb-2">
                <a href="mailto:vandanghuy9@gmail.com">vandanghuy9@gmail.com</a></div>
            </div>
            
            <div class="col-sm-5">
              <div class="pb-2 fw-bolder"><i class="fas fa-phone pe-2 text-muted" style="width:24px;opacity:0.85;"></i> Phone</div>
            </div>
            <div class="col-sm-7">
              <div class="pb-2">
                <a href="tel:0981337029">0981 337 029</a> 
              </div>
            </div>
            <div class="col-sm-5">
              <div class="pb-2 fw-bolder"><i class="fas fa-map-marker-alt pe-2 text-muted" style="width:24px;opacity:0.85;"></i> Address</div>
            </div>
            <div class="col-sm-7">
              <div class="pb-2">16 Chinh Kinh Street, Thanh Xuan, Hanoi</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shadow-1-strong bg-white my-5 p-5" id="skills">
    <div class="skills-section">
      <h2 class="h2 fw-light mb-4">Professional Skills</h2>
      <div class="row">
        <div class="col-md-6">
          <div class="mb-3"><span class="fw-bolder">HTML</span>
            <div class="progress my-2 rounded" style="height: 20px">
              <div class="progress-bar bg-info" role="progressbar" data-aos="zoom-in-right" data-aos-delay="100" data-aos-anchor=".skills-section" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
            </div>
          </div>
          <div class="mb-3"><span class="fw-bolder">CSS</span>
            <div class="progress my-2 rounded" style="height: 20px">
              <div class="progress-bar bg-info" role="progressbar" data-aos="zoom-in-right" data-aos-delay="200" data-aos-anchor=".skills-section" style="width: 50%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">50%</div>
            </div>
          </div>
          <div class="mb-3"><span class="fw-bolder">JavaScript</span>
            <div class="progress my-2 rounded" style="height: 20px">
              <div class="progress-bar bg-info" role="progressbar" data-aos="zoom-in-right" data-aos-delay="300" data-aos-anchor=".skills-section" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
            </div>
          </div>
          <div class="mb-3"><span class="fw-bolder">C language</span>
            <div class="progress my-2 rounded" style="height: 20px">
              <div class="progress-bar bg-info" role="progressbar" data-aos="zoom-in-right" data-aos-delay="300" data-aos-anchor=".skills-section" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
            </div>
          </div>
          <div class="mb-3"><span class="fw-bolder">Java</span>
            <div class="progress my-2 rounded" style="height: 20px">
              <div class="progress-bar bg-info" role="progressbar" data-aos="zoom-in-right" data-aos-delay="400" data-aos-anchor=".skills-section" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
            </div>
          </div>
          <div class="mb-3"><span class="fw-bolder">Python</span>
            <div class="progress my-2 rounded" style="height: 20px">
              <div class="progress-bar bg-info" role="progressbar" data-aos="zoom-in-right" data-aos-delay="400" data-aos-anchor=".skills-section" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">20%</div>
            </div>
          </div>
          <div class="mb-3"><span class="fw-bolder">Assembly language</span>
            <div class="progress my-2 rounded" style="height: 20px">
              <div class="progress-bar bg-info" role="progressbar" data-aos="zoom-in-right" data-aos-delay="500" data-aos-anchor=".skills-section" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
            </div>
          </div>
        </div>
        
        <div class="col-md-6">
          <!-- <h3 class="h3 fw-light mb-4">Frameworks and libraries</h3> -->
          <div class="mb-3"><span class="fw-bolder">Bootstrap</span>
            <div class="progress my-2 rounded" style="height: 20px">
              <div class="progress-bar bg-secondary" role="progressbar" data-aos="zoom-in-right" data-aos-delay="600" data-aos-anchor=".skills-section" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
            </div>
          </div>
          <div class="mb-3"><span class="fw-bolder">NodeJS</span>
            <div class="progress my-2 rounded" style="height: 20px">
              <div class="progress-bar bg-secondary" role="progressbar" data-aos="zoom-in-right" data-aos-delay="600" data-aos-anchor=".skills-section" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
            </div>
          </div>
          <div class="mb-3"><span class="fw-bolder">AOS</span>
            <div class="progress my-2 rounded" style="height: 20px">
              <div class="progress-bar bg-secondary" role="progressbar" data-aos="zoom-in-right" data-aos-delay="600" data-aos-anchor=".skills-section" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">20%</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shadow-1-strong bg-white my-5 p-5" id="education">
    <div class="education-section">
      <h2 class="h2 fw-light mb-4">Education</h2>
      <div class="timeline">
        <div class="timeline-card timeline-card-success" data-aos="fade-in" data-aos-delay="0">
          <div class="timeline-head px-4 pt-3">
            <div class="h5">Study at Hanoi University of Science and Technology</div>
          </div>
          <div class="timeline-body px-4 pb-4">
            <div>I study in Higher Education Development Support Project on ICT (HEDSPI) at Hanoi University of Science and Technology </div>
          </div>
        </div>
        <div class="timeline-card timeline-card-success" data-aos="fade-in" data-aos-delay="200">
          <div class="timeline-head px-4 pt-3">
            <div class="h5">Computer Science</div>
          </div>
          <div class="timeline-body px-4 pb-4">
            <div>Basics of Computer Science, including <strong>Algorithm, Data Structure, Database</strong></div>
          </div>
        </div>
        <div class="timeline-card timeline-card-success" data-aos="fade-in" data-aos-delay="400">
          <div class="timeline-head px-4 pt-3">
            <div class="h5">Japanese</div>
          </div>
          <div class="timeline-body px-4 pb-4">
            <div>I've studied Japanese for 2 years, with <strong>JLPT N4</strong> certification and <strong>intermediate level</strong></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shadow-1-strong bg-white my-5 p-5 d-print-none" id="project">
    <div class="portfolio-section">
      <h2 class="h2 fw-light mb-4">Project</h2>
      <div class="row g-0">
        <div class="col-md-6"><a href="https://vandanghuy9.github.io/" target="_blank"><img class="img-fluid" src="images/project-1.jpg" width="800" height="500"/></a></div>
        <div class="col-md-6 d-flex align-items-center" data-aos="fade-left" data-aos-delay="100">
          <div class="m-4 mt-md-2">
            <p class="text-teal text-small">Frontend / HTML / CSS / JavaScript</p>
            <h3>Restaurant Website</h3>
            <p class="text-muted">Built a website front-end for a restaurant to present the menu. Delivered codebase in <strong>HTML, CSS and modern JavaScript</strong>, including <strong>AJAX</strong> to dynamically load data.</p>
          </div>
        </div>
      </div>
      <div class="row g-0 portfolio-reverse">
        <div class="col-md-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
          <div class="m-4 mt-md-2 text-end">
            <p class="text-teal text-small">Database/ MySQL/ Java</p>
            <h3>Designing Database</h3>
            <p class="text-muted">I collaborated with my team to build a database for a Nike store, using <strong> MySQL database</strong> and <strong> JDBC </strong>to insert data. </p>
          </div>
        </div>
        <div class="col-md-6"><a href="https://github.com/vandanghuy9/Final_lecture_DB" target="_blank"><img class="img-fluid" src="images/project-2.jpg" width="800" height="500"/></a></div>
      </div>
      <div class="row g-0">
        <div class="col-md-6"><a href="https://github.com/vandanghuy9/Portfolio" target="_blank"><img class="img-fluid" src="images/project-3.jpg" width="800" height="500"/></a></div>
        <div class="col-md-6 d-flex align-items-center" data-aos="fade-left" data-aos-delay="100">
          <div class="m-4 mt-md-2">
            <p class="text-teal text-small">Fullstack/ HTML / CSS / JavaScript /Node JS/ MySQL</p>
            <h3>Portfolio sample</h3>
            <p class="text-muted">I Built a sample of my portfolio website to practice back-end developing with NodeJS. Codebase is in <strong>HTML, CSS and modern JavaScript.</strong> and i used <strong>MySQL</strong> as my DBMS</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shadow-1-strong bg-white my-5 p-5" id="contact">
    <div class="contant-section">
      <h2 class="h2 fw-light text mb-4">Contact</h2>
      <div class="row mb-4">
        <div class="col-md-5" data-aos="fade-left" data-aos-delay="200">
          <div class="mt-1">
            <div class="h6"><i class="fas fa-phone pe-2 text-muted" style="width:24px;opacity:0.85;"></i> 
             <a href="telto:0981337029">0981 337 029</a> 
            </div>
            <div class="h6"><i class="far fa-envelope pe-2 text-muted" style="width:24px;opacity:0.85;"></i>
              <a href="mailto:vandanghuy9@gmail.com">vandanghuy9@gmail.com</a>
            </div>
            <div class="address">
              <a href="https://goo.gl/maps/2W3yQmY2M14E5Urh9" target="_blank" >
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.789781184544!2d105.81075249999999!3d21.001062199999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac99f2b17077%3A0x9679ba2318b7b373!2zMTYgUC4gQ2jDrW5oIEtpbmgsIE5ow6JuIENow61uaCwgVGhhbmggWHXDom4sIEjDoCBO4buZaQ!5e0!3m2!1sen!2s!4v1665412729841!5m2!1sen!2s" width="100%" height="328" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-7 d-print-none">
          <form onsubmit=" return validateForm();" >
            <div class="form-outline mb-4">
              <input type="text" id="name" class="form-control" required/>
              <label class="form-label" for="name">Name</label>
            </div>
            <div class="form-outline mb-4">
              <input type="email" id="email" class="form-control" required/>
              <label class="form-label" for="email">Email address</label>
            </div>
            <div class="form-outline mb-4">
              <textarea class="form-control" id="message" rows="4" required></textarea>
              <label class="form-label" for="message">Message</label>
            </div>
            <small class="submit-noti"></small>
            <button class="btn btn-info btn-block mb-4 submit-button" type="submit">Send</button>
            <div class="g-recaptcha" data-sitekey="6Lev-GAiAAAAAHGrZsFhxAMOrz1de7-4lI8tyb94"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div></div>
    </div>
    <footer class="pt-4 pb-4 text-muted text-center d-print-none">
      <div class="container">
        <div class="my-3">
          <div class="h4">Van Dang Huy</div>
          <div class="footer-nav">
            <nav role="navigation">
              <ul class="nav justify-content-center">
                <li class="nav-item"><a class="nav-link" target="_blank" href="https://www.facebook.com/profile.php?id=100008555206980" title="Facebook"><i class="fab fa-facebook"></i><span class="menu-title sr-only">Facebook</span></a>
                </li>
                <li class="nav-item"><a class="nav-link" target="_blank" href="https://www.instagram.com/vandanghuy9/" title="Instagram"><i class="fab fa-instagram"></i><span class="menu-title sr-only">Instagram</span></a>
                </li>
                <li class="nav-item"><a class="nav-link" target="_blank" href="https://github.com/vandanghuy9" title="Github"><i class="fab fa-github"></i><span class="menu-title sr-only">Github</span></a>
                </li>
                <li class="nav-item"><a class="nav-link" target="_blank" href="https://www.youtube.com/watch?v=UMBzBXct0DE" title="Youtube"><i class="fab fa-youtube"></i><span class="menu-title sr-only">Youtube</span></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="text-small">
          <div class="mb-1">&copy; 2022 Van Dang Huy</div>
        </div>
      </div>
    </footer>
    <script src="scripts/mdb.min.js"></script>
    <script src="scripts/aos.js?ver=1.2.1"></script>
    
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"        
            integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
            crossorigin="anonymous"> 
    </script> <!-- install axios module  -->
    <script>
      const button = document.querySelector('.submit-button');
            const nameInput= document.querySelector('#name');
            const emailInput =document.querySelector('#email');
            const messageInput = document.querySelector('#message');
            button.addEventListener('click', async function(e){
                e.preventDefault();
                const captcha = validateForm();
                if (!captcha){
                try{
                    const nameValue = nameInput.value;
                    const emailValue = emailInput.value;
                    const message = messageInput.value;
                    const data = await axios.post('/api/message',{name:nameValue,email:emailValue,message:message});
                    document.querySelector('.submit-noti').innerHTML = 'Thank you and i will contact you soon';
                    const noti_Timeout = setTimeout(function(){
                        document.querySelector('.submit-noti').innerHTML = '';
                    },5000);
                }
                catch(error){
                    document.querySelector('.submit-noti').innerHTML = error.response.data.msg;
                }
                nameInput.value='';
                emailInput.value='';
                messageInput.value ='';
              }
            });
    </script>
    <script src="scripts/main.js"></script>
  </body>
</html>